body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

.header {
    background-color: #007bff;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px; /* Adjust the logo height as needed */
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.left-text, .right-text {
    width: 30%;
}

.left-text h2, .right-text h2 {
    color: #007bff;
}

.left-text p, .right-text p {
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;}

.dog-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns in the grid */
    gap: 10px; /* Gap between grid items */
}

.grid-item {
    border-bottom: 1px solid #007bff; /* Border between grid items */
    padding: 10px;
    text-align: center;
}
